/node_modules
/public/hot
/public/storage
/storage/*.key
/database/seeds/UsersTableSeeder.php
/public/images/uploaded
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
